.frase{
    text-align:center;
    color: rgb(18, 182, 194);
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
}

.lista{
    color: white;
    text-align: justify;
    font-size: 25px;
    margin-left: 70px;
    margin-right: 60px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.imagem{
    text-align: center;
}
