.box{
    margin: auto;
    position: static;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 500px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.inputProblem{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 100%;
    letter-spacing: 1px;
}

#submit{
    width: 100%;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background-color: rgb(160, 6, 160);
    color: white;
}

fieldset{
    border: 3px solid rgb(160, 6, 160);
}

legend{
    border: 1px solid rgb(160, 6, 160);
    padding: 10px;
    background-color: rgb(160, 6, 160);
    border-radius: 8px;
    font-size: 20px;
}

label{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

h4{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
